body {
  background: radial-gradient(ellipse at bottom, #092749 0%, #050e3a 100%);
  background-attachment: fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.navbar {
  font-family: 'Poppins';
  font-size: 1.5rem;
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  color: Black;
  width: 100vw;
  position: sticky;
  top: 0;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  text-align: center;
  font-size: 2rem;
  margin: 0  auto;
  font-weight: bolder;
}
nav {
  flex: 1;
  height: 80px;
}
a.nav-link {
  border-radius: 0.5rem;
  border: black solid;
  padding: 0px;
  margin: 5px;
  height: 40px;
  color: black;
  text-align: center;
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  -webkit-text-fill-color: rgb(0, 0, 0); 
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-weight: bolder;
}

a.nav-link:hover {
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);

}

.list {
  text-align: left;
  margin: auto;
  color: black;
  top: 50%;
  left: 50%;
  
}
h4 {
  font-weight: bold;
  color: yellow;
  letter-spacing: 0.1rem;
}
div.dropdown-menu.show{
  font-family: 'Poppins';
  background-color: #2876f9;
  background-image: linear-gradient(177deg, #2876f9 0%, #6d17cb 74%);
  color: white;
  border: 3px black solid;
  margin-top: 30px;
  border-radius: 1em;
  width: 170px;
}

.dropdown-item:hover {
  background-color: #6d17cb;
  background-image: linear-gradient(177deg,#6d17cb 0%, #2876f9  80%);

}
a.dropdown-item a.nav-link{
  outline: 0px solid black;
  color: black;
  padding: 0px;
  margin: 5px;
  height: unset;
}

a.dropdown-item a.nav-link:hover {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #f80303 0%, #d7e1ec 74%);
  

}

.dropdown-toggle::after{
  color:rgb(252, 38, 0);

}

.list.row {
  max-width: 1000px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
  background: rgba(255,255,255, 0.1);
  padding: 3em;
  border-radius: 1em;
  z-index: -1; 
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
  

}

.edit-form {
  max-width: 400px;
  margin: auto;
  color: white;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgba(255,255,255, 0.1);
  padding: 3em;
  border-radius: 1em;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

}
.submit-form {
  max-width: 400px;
  margin: auto;
  color: white;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgba(255,255,255, 0.1);
  padding: 3em;
  border-radius: 1em;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  
  
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn {
  color: black;
  max-width: fit-content;
  max-height: 40px;
}

p {
  font-weight: bold;
  font-size: 23px;
  
  -webkit-text-fill-color:red; 
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(92, 17, 17);
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.navbar-brand h1 {
  font-size: 3rem;
  font-weight: bolder;
  -webkit-text-fill-color:#5bdf0f; 
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
h2 {
  font-size: 4em;
  clip-path: inset(0 0 0 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

strong {
  color: red;
  font-weight: bolder;
}

.col-md-5 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.logo {
  text-align: center;
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  border-radius: 50%;
  border: 2px black solid;
}
.logo img {
  width: 90%;
}