body {
  background: radial-gradient(ellipse at bottom, #092749 0%, #050e3a 100%);
  background-attachment: fixed;
  background-size: cover;
}
.navbar-nav {
  flex: 1;
  display: flex;
  list-style: none;
  justify-content: flex-end;

}
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
  color: black;
  top: 50%;
  left: 50%;
  
}
h4 {
  font-weight: bold;
  -webkit-text-fill-color:yellow; 
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  letter-spacing: 0.1rem;
}
label {
  font-weight: bolder;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  letter-spacing: 0.1rem;
}
.submit-form {
  max-width: 300px;
  margin: auto;
  color: white;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgba(255,255,255, 0.2);
  padding: 3em;
  border-radius: 1em;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
}
.form-group {
  color: black;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.edit-form {
  max-width: 300px;
  margin: auto;
  color: white;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgba(255,255,255, 0.2);
  padding: 3em;
  border-radius: 1em;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
}

.list.row {
  text-align: center;
  background: rgba(255,255,255, 0.2);
  padding: 3em;
  border-radius: 1em;
  position: relative;
  left: 15%;
  z-index: 1;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
}

p {
  font-weight: bold;
  font-size: 23px;
}

h2 {
  font-size: 4em;
  clip-path: inset(0 0 0 0);
}